/* layout.css */
@charset "UTF-8";
*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#000;
    background-color: lightgray;


}
#wrap{
    width:90%;
    margin:auto;
    /* border:1px solid red; */
    max-width: 1200px;
    display: flex;
    flex-flow: column wrap;
}
ul li{
    list-style-type: none;
}
a:link{
    text-decoration: none;

}
/* header------------------------------------------- */
header{
    display:flex;
    flex-flow:row nowrap;
    border-bottom: 1px solid gray;
    width:100%;
    box-shadow: 0 2px 20px rgba(0,0,0,0.3);
}
nav{
    width: 87%;
    display:flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    margin: 0 auto;
    /* border: 1px solid green; */

}
ul.nav-items{
    margin-right:20px;
}
ul.nav-items>li{
    display: inline-block;
    padding: 0 30px;
    color: darkgray;
    line-height:60px;
}
.logo{
    display:inline-block;
    width: calc(100%-87%);
   margin: 10px 0 10px 20px;
}
/* footer---------------------------------------------------------------------- */
footer{

    display:flex;
    justify-content: center;
    width: 100%;
    height: 10vh;
    line-height:60px;
    border-top: 1px solid #fff;
}
/* content-wrap */
#content-wrap{
    display:flex;
    flex-flow:row nowrap;
    width: 100%;
    justify-content: center;
}
/* aside------------------------------------------------------------- */
aside{
    width: 20%;
    display: flex;
    flex-flow: column nowrap;
    background-color: #655;
    justify-content: flex-start;
    align-items: stretch;
    padding-top: 25px;

}
aside ul li{
    display: block;
}
aside ul li a{
    display: block;
    color:#fff;
    padding: 10px 0 10px 20px;
}
aside ul li a.active{
    background-color: chocolate;
}
aside ul li a:hover:not(.active){
    background-color: purple;

}
h1,h2,h3,h4,h5,h6{
    margin:10px 7px;
}
h1{
    font-size:1.7em;
}
/* section ------------------------------------------------------------*/
section{
    width:80%;
    padding:20px;
    display:flex;
    flex-flow:row wrap;
    justify-content: space around;

    
}
article{
    width:22%;
    margin:7px;
    background-color: #fff;
    padding:10px;
    
}